@font-face {
  font-family: 'AlimamaFangYuan';
  src: url('../assets/font/AlimamaFangYuanTiVF-Thin.ttf');
}

:root {
  --cc-color-primary: #ff7f50;
  --cc-color-bg: #f3f4f6;
}

.dark {
  &:root {
    --cc-color-bg: #111827;
  }
}

body {
  font-family: 'AlimamaFangYuan';
  margin: 0;
}
